name: Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 18.14.1
    - run: npm ci
    - run: npm run build
    - uses: softprops/action-gh-release@v1
      with:
        draft: true

permissions:
  contents: write
